@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: local("Poppins"), local("Poppins"), url(fonts/Poppins-Regular.otf) format("opentype")

html
  height: 100%
  font-family: 'Poppins'
  font-size: 14px
  line-height: 1.5
  overflow: hidden
  color: hsl(0, 0%, 22%)
  background-color: hsl(0, 0%, 96%)

body
  margin: 0
  height: 100%

h1, h2, p
  margin: 0

.hide
  display: none