.main-content
  margin: 0 auto
  height: 100vh
  display: flex
  &.morning
    background-color: hsl(0, 0%, 96%)
    color: #3c3d3f
  &.midday
    background: #242525
    color: #c5c5c5
  &.evening
    background: #242525
    color: #c5c5c5

.navigation
  display: flex
  flex-direction: column
  background-image: none
  &.morning
    background: #64042c
  &.midday
    background: #053a3a
  &.evening
    background: #060b24

  .nav-button
    background: transparent
    outline: none
    border: none
    padding: 15px
    font-size: 15px
    color: #7a7a7a
    text-align: left
  .top-nav
    margin-top: 20px
  .nav-button:focus
    color: #c9c9c9
  .is-selected
    color: #c9c9c9

.section-content
  margin-left: 50px
  margin-top: 35px

.save-button
  background-color: transparent
  border: 3px solid #00d7c3
  border-radius: 50px
  -webkit-transition: all .15s ease-in-out
  transition: all .15s ease-in-out
  color: #00d7c3
  margin-top: 10px
.save-button:hover
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3
  border: 3px solid #00d7c3

.title-input
  font-size: 2em
  border: none
  background: transparent
  color: #c5c5c5
.title-input:focus
  outline: none

#goals-list
  progress
    float: right
    margin-left: 10px
    align-content: center

#task-form-show-button
  display: block

.orange-star
  color: orange

.difficulty-span
  float: right